
/* Header bar styling*/
#header
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3rem;
	background: #B0BEC5;
	color: #294B93;
	font-family: Calibri;
	font-size: 25;
	
}

/* Footer bar styling */
#footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background: #B0BEC5;
}

/* Text in footer */
#footertext
{
	font-size: 14px;
  	text-align: right;
	padding-right: 15px;
}

/* Links styling */
#links
{
	font-size: 20px;
	text-align: right;
	position: relative;
	float: right;
	padding-right: 15px;
}

/* Main divider */
#body
{
	float:right;
	width: 80%;
	min-height: 1000px;	
	
}

/* Colorscheme and formating for the main div */
#bodycolor
{
	
	background: #546E7A;
	margin:0;
	padding:0;
	
}
/* Text within main divider */
.maintext
{
	
	font-size: 16px;
	font-family: Arial;
	text-align: left;
	padding: 35px;
	
	
}

/*Divider which contains text on pages */
#textdiv
{
	position: relative;
	top: 550;


}

/*Titles used in text*/
.Title1
{
	font-size: 25px;
	font-family: Arial;
	text-align: left;
	padding: 30px;
	
	
}
/* Sidebar */
#leftdiv
{
	
	float: left; 
	width: 20%; 
	background: #78909C; 
	min-height: 1000px;	
	margin:0;
	padding:0;
	

}
/* Styling for images in sidebar */
#imagepreview 
{

	position: relative; 
	height: 100px;
	width:100px;
	padding-left: 10px; 
	padding-bottom: 20px;
	
}

/* Styling for image container */
#imagecontainer
{
	position: relative; 
	left: 0; 
	top: 150; 
	float: left
}

/*Slideshow CSS */
.slides
{
	display:none;
}

img
{
	vertical-align: middle;
	max-height: 500px;
	width: 1000px;
	height: 300px;
	
	
	
}

/* Slideshow container */
.slideshowcontainer
{
	max-width: 1000px;
	position: relative;
	margin: auto;
	
	
}

/* Previous and Next buttons */
.prev, .next
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: red;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0 3px 3px 0;
	transition: 0.6s ease;
	
}

/* Positions the next button to the right */
.next{
	right:0;
	border-radius: 3px 0 0 3px;
}

/* Adds a black background to the arrows */
.prev:hover, .next:hover
{
	background-color: rgba(0,0,0,0.8);
}

/* Caption text for the images */
.imagetext
{
	color: #F2F2F2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100px;
	text-align: center;
}

/* Displays which image you are on */
.numbertext
{
	color: #F2F2F2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots displayed below the image */
.dot
{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #BBB;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot: hover
{
	background-color: #717171;
}

/* Fading animation for changing image */
.fade 
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade 
{
	from {opacity: .4}
	to {opacity: 1}
}

	


	
	
