
/* Header bar styling*/
#header
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3rem;
	background: #B0BEC5;
	color: #294B93;
	font-family: Calibri;
	font-size: 25;
	
}

/* Footer bar styling */
#footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3rem;
	background: #B0BEC5;
}

/* Text in footer */
#footertext
{
	font-size: 14px;
  	text-align: right;
	padding-right: 15px;
}

/* Links styling */
#links
{
	font-size: 20px;
	text-align: right;
	position: relative;
	float: right;
	padding-right: 15px;
}

/* Main divider */
#body
{
	float:right;
	width: 80%;
	min-height: 1000px;	
	
}

/* Colorscheme and formating for the main div */
#bodycolor
{
	
	background: #546E7A;
	margin:0;
	padding:0;
	
}
/* Text within main divider */
#maintext
{
	
	font-size: 16px;
	text-align: left;
	padding: 35px;
	
	
}

/*Divider which contains text on pages */
#textdiv
{
	position: relative;
	top: 150;


}

/*Titles used in text*/
#Title1
{
	font-size: 25px;
	font-family: Arial;
	text-align: left;
	padding: 30px;
	
	
}
/* Sidebar */
#leftdiv
{
	
	float: left; 
	width: 20%; 
	background: #78909C; 
	min-height: 1000px;	
	margin:0;
	padding:0;
	

}
/* Styling for images in sidebar */
#imagepreview 
{

	position: relative; 
	height: 100px;
	padding-left: 10px; 
	padding-bottom: 20px;
	
}

/* Styling for image container */
#imagecontainer
{
	position: relative; 
	left: 0; 
	top: 150; 
	float: left
}
	


	
	
